<h1>Showing selected article</h1>
<p>
 Title: <%= simple_format(@article.title) %>
</p>
<p>
	Image: <%= image_tag @article.image.url(:medium) %>
</p>
<p>
 Description: <%= simple_format(@article.description) %>
</p>
<br>
<%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-primary" %> 
<%= link_to 'Back', articles_path, class: "btn btn-xs btn-success" %>
<%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger" %>
<%= link_to "Add Comment", new_article_comment_path(article_id: @article.id),  class: "btn btn-xs btn-success" %>

	<br>
	<% if @article.comments.any? %>
	<h2>Comments <%= @article.comments.count %> </h2>
	<%= render @article.comments %>

<% end %>
