<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <% flash.each do |name, msg| %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    
    <ul>
     <li><%= msg %></li>
    </ul>
<% end %>
    
    <%= yield %>
  </body>
</html>
